# This file is used by Copier to track the template version
# and enable template updates in generated projects

_commit: {{ _copier_conf.vcs_ref_hash }}
_src_path: gh:stateful-y/python-package-copier
author_email: {{ author_email }}
author_name: {{ author_name }}
description: {{ description }}
github_username: {{ github_username }}
include_actions: {{ include_actions }}
include_examples: {{ include_examples }}
license: {{ license }}
max_python_version: '{{ max_python_version }}'
min_python_version: '{{ min_python_version }}'
package_name: {{ package_name }}
project_name: {{ project_name }}
project_slug: {{ project_slug }}
version: {{ version }}
